
.color {
    /* 白色 */
    color: #fff;

    /* 错误信息红色 */
    color: #D51423;

    /* 浅一点的黑色 */
    color: #222;

    /* 深灰色 */
    color: #1E1E1E;
    color: #333;

    /* 灰色 */
    color: #303133;

    /* 带点蓝的灰色 */
    color: #2C2C40;
    color: #2d3a4b;
    color: #545c64;

    /* 橙色 */
    color: #ffd04b;

    /* 蓝色 */
    color: #345dc2;

    /* 粉色 */
    color: #ff9ec6;
    background-color: rgba(255,158,198,1); /* 同上 */
    background-color: rgba(255,158,198,.08); /* 同上 */
    /* 更亮的粉色 */
    background-color: rgba(255,191,218,1);

}